["/" {"ping" :ping
      "logging" :logging
      "help" :help
      "metrics" :metrics
      "v2/" {"apps" {"" :apps
                     ["/" :app-id] {"" :app
                                    "/restart" :restart-app
                                    "/tasks" {"" :tasks
                                              ["/" :task-id] :task}
                                    "/versions" {"" :versions
                                                 ["/" :version] :version}}}
             "groups" {"" :groups
                       ["/" :group-id] :group}
             "tasks" {"" :tasks
                      "/delete" :delete-tasks}
             "deployments" {"" :deployments
                            ["/" :deployment-id] :deployment}
             "events" :events
             "eventSubscriptions" :event-subscriptions
             "queue" :queue
             "info" :info
             "leader" :leader}}]
